
<h1>Core NLP Demo</h1>
<p></p>
<h2>Enter text</h2>
<form action = "/hello:text" method="POST">
    <input type = "text" rows ="8" cols="50" name = "textbox" />
    <input type = "submit" value = "Submit" name = "btn-submit"/>
</form>

<h2>OR</h2>
<h2>Enter URL</h2>
<form action = "/hello:url" method = "POST">
    <input type = "text" name = "urlTextBox"/>
    <input type = "submit" value = "Submit" name = "btn-url-submit"/>
</form>